<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div class="relative w-full h-auto bg-[#6392DB]">

  <div
    class="absolute top-[34px] left-[47px] w-[142px] h-[19px] font-['Inter'] font-extrabold text-[16px] leading-[19.36px] text-white">
    ADMIN ACCOUNT
  </div>

  <button
    class="absolute top-[30px] right-[30px] w-[123px] h-[28px] rounded-[10px] bg-white text-black hover:bg-gray-100 transition">
    Đăng xuất
  </button>

  <nav class="absolute bg-white border border-gray-200 p-4 shadow-lg w-[192px] h-[720px] top-[81px] left-[22px]">
    <ul class="space-y-1">
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition"
          [routerLink]="['/theloaiphim']">
          <span class="material-icons">movie_filter</span>
          <span>Thể loại phim</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/phim']">
          <span class="material-icons">movie</span>
          <span>Phim</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/rap']">
          <span class="material-icons">store</span>
          <span>Rạp</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/lichchieu']">
          <span class="material-icons">event</span>
          <span>Lịch chiếu</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/thanhtoan']">
          <span class="material-icons">credit_card</span>
          <span>Thanh toán</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/thongke']">
          <span class="material-icons">bar_chart</span>
          <span>Thống kê</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/nhanvien']">
          <span class="material-icons">badge</span>
          <span>Nhân viên</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/nguoidung']">
          <span class="material-icons">person</span>
          <span>Người dùng</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/giaodich']">
          <span class="material-icons">person</span>
          <span>Giao dịch</span>
        </a>
      </li>
      <li>
        <a class="flex items-center gap-2 py-2 px-3 rounded hover:bg-gray-100 transition" [routerLink]="['/banner']">
          <span class="material-icons">person</span>
          <span>Banner</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="absolute top-20 left-[230px] w-[calc(100%-260px)] h-auto bg-white shadow-lg rounded-lg p-1">
  <router-outlet></router-outlet>
</div>